@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: linear-gradient(to left, #8897da, #74328f); }

/* Header */
.contenedor {
  height: 20vh;
  width: 100%;
  background: linear-gradient(to top, #ed4264, #ffedbc); }

/* nav */
ul {
  list-style: none; }

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px; }

.logo {
  width: 220px;
  height: 220px;
  box-shadow: none;
  margin-top: 75px; }

.nav-main ul {
  display: flex; }

.nav-main ul li {
  padding: 10px;
  font-size: 1.2rem; }

.nav-main ul li a:hover {
  border-bottom: 2px solid white;
  color: white; }

.nav-main ul.nav-menu {
  flex: 1;
  margin-top: 90px;
  font-family: 'Chicle', cursive; }

li a {
  color: #460646;
  text-decoration: none;
  font-size: 30px; }

.btn-menu {
  font-size: 30px;
  color: white;
  margin-top: 60px;
  cursor: pointer;
  display: none;
  cursor: pointer; }

/* main */
.carousel-item {
  height: auto; }

.carousel {
  height: 80vh; }

.carousel-inner {
  height: 80vh; }

/* imagenes */
h1 {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-family: 'Chicle', cursive; }

.column-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 25px;
  text-align: center;
  color: white;
  font-family: 'Chicle', cursive; }

.column-img img {
  width: 100%;
  height: 250px; }

.column-img img:hover {
  box-shadow: 1px 2px 56px -1px rgba(243, 242, 243, 0.68); }

.column-img p {
  font-family: Georgia, 'Times New Roman', Times, serif; }

.column-img a {
  background-color: white;
  padding: 5px;
  text-decoration: none; }

.column-img a:hover {
  background-color: #a5a1a1; }

/* galeria */
.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 1em; }

.titulo-galeria {
  color: white;
  font-family: 'Chicle', cursive;
  text-align: center;
  font-size: 40px; }

.titulo-galeria:hover {
  color: #460646; }

.galeria-img {
  width: 100%;
  height: 300px;
  object-fit: cover; }

.galeria-img:hover {
  box-shadow: 1px 2px 56px -1px rgba(243, 242, 243, 0.68); }

/* footer */
.pie-pagina {
  background: linear-gradient(to top, #ed4264, #ffedbc);
  width: 100%; }

.pie-pagina .grupo-1 {
  display: grid;
  width: 100%;
  margin: auto;
  color: #460646;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  text-align: center;
  max-width: 1200px; }

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center; }

.pie-pagina .grupo-1 .box img {
  width: 150px; }

.pie-pagina .grupo-1 .box h3 {
  margin-bottom: 15px;
  font-size: 20px; }

.pie-pagina .grupo-1 .box p {
  margin-bottom: 5px; }

.pie-pagina .grupo-1 .redes a {
  display: inline-block;
  text-decoration: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: white;
  background-color: #460646;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  transition: all 300ms ease; }

.pie-pagina .grupo-1 .redes a:hover {
  background-color: #111fdd; }

.pie-pagina .grupo-2 {
  background-color: #460646;
  color: white;
  text-align: center;
  margin-bottom: -1rem; }

/* Nosotros */
.sobre-nosotros {
  text-align: center;
  color: white;
  font-family: 'Chicle', cursive;
  font-size: 50px; }

.nosotros {
  border: double 5px;
  margin: 10px;
  width: 550px;
  text-align: center;
  height: 700px; }

.div-nube {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-content: center; }

/* contacto */
.formContainer {
  background-color: #edf7f8;
  width: 50vw;
  margin: 3rem auto;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem; }

.formContainer__title {
  font-size: 1.5rem;
  text-align: center;
  margin: 1.5rem; }

.form {
  text-align: center; }

.form__label {
  font-weight: 600;
  text-align: left;
  display: inline-block;
  width: 60%; }

.form__input {
  width: 60%;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border: none;
  font-size: 1.2rem;
  font-family: cursive; }

.form__textarea {
  width: 60%;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border: none;
  border-bottom: solid 2px black;
  font-size: 1rem;
  font-family: cursive;
  height: 5rem;
  resize: none; }

.form__input--submit {
  background-color: #e64b4b;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.3rem; }

.form__input:focus,
.form__textarea {
  outline: none; }

.form__input--submit:hover {
  background-color: #c94141; }

@media (max-width: 768px) {
  /*Tamaño mediano*/
  .nav-main ul.nav-menu {
    display: none; }
  .logo {
    width: 180px;
    height: 180px;
    box-shadow: none;
    margin-top: 60px; }
  .column-img {
    grid-template-columns: repeat(2, 1fr); }
  .btn-menu {
    display: inline-block; }
  .galeria {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 426px) {
  .pie-pagina .grupo-1 {
    width: 100%;
    color: #460646;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    padding: 10px;
    text-align: center; }
  .logo {
    width: 180px;
    height: 180px;
    box-shadow: none;
    margin-top: 60px; }
  .column-img {
    grid-template-columns: repeat(1, 1fr); }
  .carousel {
    height: 18rem; }
  .carousel-inner {
    height: 44vh; }
  .galeria {
    grid-template-columns: repeat(1, 1fr); } }

/* main */
.carousel-item {
  height: auto; }

.carousel {
  height: 80vh; }

.carousel-inner {
  height: 80vh; }

/* imagenes */
h1 {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-family: "Chicle", cursive; }

.column-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 25px;
  text-align: center;
  color: white;
  font-family: "Chicle", cursive; }
  .column-img img {
    width: 100%;
    height: 350px; }
    .column-img img:hover {
      box-shadow: #f7baf4; }
  .column-img p {
    font-family: Georgia, 'Times New Roman', Times, serif; }
  .column-img a {
    background-color: white;
    padding: 5px;
    text-decoration: none; }
    .column-img a:hover {
      background-color: #dcf7fc; }

@media (max-width: 768px) {
  .column-img {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 426px) {
  .column-img {
    grid-template-columns: repeat(1, 1fr); }
  .carousel {
    height: 12rem; }
  .carousel-inner {
    height: 44vh; } }

/* galeria */
.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 1em; }

.titulo-galeria {
  color: white;
  font-family: "Chicle", cursive;
  text-align: center;
  font-size: 40px; }

.titulo-galeria:hover {
  color: #460646; }

.galeria-img {
  width: 100%;
  height: 300px;
  object-fit: cover; }

.galeria-img:hover {
  box-shadow: 1px 2px 56px -1px rgba(243, 242, 243, 0.68); }

@media (max-width: 426px) {
  .galeria {
    grid-template-columns: repeat(1, 1fr); } }

@media (max-width: 768px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr); } }

/* Nosotros */
.sobre-nosotros {
  text-align: center;
  color: white;
  font-family: "Chicle", cursive;
  font-size: 50px; }

.nosotros {
  border: double 5px;
  margin: 10px;
  width: 550px;
  text-align: center;
  height: 700px; }

.div-nube {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-content: center; }

/* contacto */
.formContainer {
  background: linear-gradient(to top, #ed4264, #ffedbc);
  width: 50vw;
  margin: 3rem auto;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  color: #460646;
  font-family: "Chicle", cursive; }

.formContainer__title {
  font-size: 1.5rem;
  text-align: center;
  margin: 1.5rem;
  letter-spacing: 2px; }

.form {
  text-align: center; }

.form__label {
  font-weight: 600;
  text-align: left;
  display: inline-block;
  width: 60%; }

.form__input {
  width: 60%;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border: none;
  font-size: 1.2rem;
  font-family: cursive; }

.form__textarea {
  width: 60%;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border: none;
  border-bottom: solid 2px black;
  font-size: 1rem;
  font-family: cursive;
  height: 5rem;
  resize: none; }

.form__input--submit {
  background-color: #74328f;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: all 300ms ease; }

.form__input:focus,
.form__textarea {
  outline: none; }

.form__input--submit:hover {
  background-color: #963f96; }

/* footer */
.pie-pagina {
  background: linear-gradient(to top, #ed4264, #ffedbc);
  width: 100%; }
  .pie-pagina .grupo-1 {
    display: grid;
    width: 100%;
    margin: auto;
    color: #460646;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    text-align: center;
    max-width: 1200px; }
    .pie-pagina .grupo-1 .box figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center; }
      .pie-pagina .grupo-1 .box figure img {
        width: 150px; }
        .pie-pagina .grupo-1 .box figure img h3 {
          margin-bottom: 15px;
          font-size: 20px; }
          .pie-pagina .grupo-1 .box figure img h3 p {
            margin-bottom: 5px; }
            .pie-pagina .grupo-1 .box figure img h3 p .redes a {
              display: inline-block;
              text-decoration: none;
              width: 50px;
              height: 50px;
              line-height: 50px;
              color: white;
              background-color: #460646;
              margin-right: 10px;
              border-radius: 50%;
              text-align: center;
              font-size: 2rem;
              transition: all 300ms ease; }
              .pie-pagina .grupo-1 .box figure img h3 p .redes a:hover {
                background-color: #111fdd; }

@media (max-width: 426px) {
  .pie-pagina .grupo-1 {
    width: 100%;
    color: #460646;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    padding: 10px;
    text-align: center; } }

/* Header */
.contenedor {
  height: 20vh;
  width: 100%;
  background: linear-gradient(to top, #ed4264, #ffedbc); }

/* nav */
.logo {
  width: 220px;
  height: 220px;
  box-shadow: none;
  margin-top: 75px; }

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px; }
  .nav-main ul {
    display: flex;
    list-style: none; }
    .nav-main ul li {
      padding: 10px;
      font-size: 1.2rem; }
      .nav-main ul li a {
        flex: 1;
        margin-top: 90px;
        font-family: "Chicle", cursive;
        color: #460646;
        text-decoration: none;
        font-size: 30px; }
        .nav-main ul li a:hover {
          border-bottom: 2px solid white;
          color: white; }

@media (max-width: 768px) {
  /*Tamaño mediano*/
  .nav-main ul.nav-menu {
    display: none; }
  .btn-menu {
    font-size: 30px;
    color: white;
    margin-top: 60px;
    cursor: pointer;
    display: none; } }

@media (max-width: 768px) and (max-width: 426px) {
  .logo {
    width: 180px;
    height: 180px;
    box-shadow: none;
    margin-top: 60px; } }

@media (max-width: 768px) {
  .logo {
    width: 180px;
    height: 180px;
    box-shadow: none;
    margin-top: 60px; }
  .btn-menu {
    display: inline-block; } }
