//variables
// 2-importaciones/particiones
@import "./variables/colores";
@import "./variables/css-viejo";
@import "./variables/fuentes";
@import "./secciones/index";
@import "./secciones/productos";
@import "./secciones/promos";
@import "./secciones/nosotros";
@import "./secciones/contacto";
@import "./utilidades/main";
@import "./utilidades/footer";
@import "./utilidades/header";