        /* main */
        
        .carousel-item {
            height: auto;
        }
        
        .carousel {
            height: 80vh;
        }
        
        .carousel-inner {
            height: 80vh;
        }
        /* imagenes */
        
        h1 {
            text-align: center;
            padding-top: 20px;
        }
        
        .column-img {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            margin: 25px;
            text-align: center;
            img {
                width: 100%;
                height: 350px;
                &:hover {
                    box-shadow: rgb(247, 186, 244);
                }
            }
            p {
                @include fontStyle ($colorTexto, 20px);
            }
            a {
                background-color: white;
                padding: 5px;
                text-decoration: none;
                &:hover {
                    background-color: $violeta;
                    color: white;
                }
            }
        }
        
        .column-img,
        h1 {
            @extend %estilosParrafos;
        }
        
        @media (max-width: 768px) {
            .column-img {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        
        @media (max-width: 426px) {
            .column-img {
                grid-template-columns: repeat(1, 1fr);
            }
            .carousel {
                height: 12rem;
            }
            .carousel-inner {
                height: 44vh;
            }
        }