        /* main */
        
        .main-index {
            height: 100%;
        }
        
        .carousel-item {
            height: auto;
            img {
                width: 90vw;
                height: 90vh;
                margin: 0 auto;
                object-fit: cover;
            }
        }
        
        .carousel {
            height: 80vh;
        }
        
        .carousel-inner {
            height: 80vh;
        }
        /* imagenes */
        
        h1 {
            text-align: center;
            padding-top: 20px;
            color: $violeta;
            font-size: 3rem;
        }
        
        .column-img {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            margin: 25px;
            text-align: center;
            height: 165vh;
            h2 {
                margin-top: 5px
            }
            img {
                width: 100%;
                height: 350px;
                object-fit: cover;
                &:hover {
                    box-shadow: rgb(247, 186, 244);
                }
            }
            p {
                @include fontStyle ($colorTexto, 20px);
            }
            a {
                background-color: white;
                padding: 8px;
                text-decoration: none;
                transition: all 400ms ease;
                color: $violeta;
                &:hover {
                    background-color: $violeta;
                    color: white;
                }
            }
        }
        
        .column-img,
        h1 {
            @extend %estilosParrafos;
        }
        
        @media (max-width: 768px) {
            .column-img {
                grid-template-columns: repeat(2, 1fr);
            }
            .carousel-item {
                height: auto;
                img {
                    height: 80vh;
                }
            }
        }
        
        @media (max-width: 426px) {
            .column-img {
                grid-template-columns: repeat(1, 1fr);
            }
            .carousel-item {
                height: auto;
                img {
                    height: 80vh;
                }
            }
        }