    .titulo-promos {
        text-align: center;
        color: $violeta;
    }
    
    .main-promos {
        height: 100%;
        display: flex;
        gap: 20px;
        margin: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .card {
        background: linear-gradient(to top, #ed4264, #ffedbc);
        &:hover {
            box-shadow: 1px 2px 56px -1px rgba(243, 242, 243, 0.68);
        }
    }
    
    .card-body {
        text-align: center;
        color: white;
        h5 {
            font-family: $chicle;
        }
    }
    
    .card-link {
        background-color: white;
        padding: 8px;
        text-decoration: none;
        transition: all 400ms ease;
        color: $violeta;
        font-family: $chicle;
        &:hover {
            background-color: $violeta;
            color: white;
        }
    }
    
    .card-text {
        @include fontStyle ($colorTexto, 17px);
    }