/* contacto */

.formContainer {
    background: linear-gradient(to top, #ed4264, #ffedbc);
    width: 50vw;
    margin: 3rem auto;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    color: $violeta;
    font-family: $chicle;
}

.formContainer__title {
    font-size: 3rem;
    text-align: center;
    margin: 1.5rem;
    letter-spacing: 2px;
    color: $violeta;
    font-family: $chicle;
}

.form {
    text-align: center;
}

.form__label {
    font-weight: 600;
    text-align: left;
    display: inline-block;
    width: 60%;
}

.form__input {
    width: 60%;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #fff;
    border: none;
    font-size: 1.2rem;
    font-family: cursive;
}

.form__textarea {
    width: 60%;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #fff;
    border: none;
    border-bottom: solid 2px black;
    font-size: 1rem;
    font-family: cursive;
    height: 5rem;
    resize: none;
}

.form__input--submit {
    background-color: #74328f;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: all 300ms ease;
}

.form__input:focus,
.form__textarea {
    outline: none;
}

.form__input--submit:hover {
    background-color: #963f96;
}

@media (max-width: 768px) {
    .formContainer {
        width: 90vw;
    }
}

@media (max-width: 426px) {
    .formContainer {
        width: 98vw;
        margin: 1rem auto;
    }
}