    .navbar {
        height: 20vh;
        background: linear-gradient(to top, #ed4264, #ffedbc);
    }
    
    .navbar-nav {
        font-family: $chicle;
        a {
            padding: 10px;
            padding: 10px;
            font-size: 1.2rem;
            list-style: none;
            color: #460646;
            text-decoration: none;
            font-size: 30px;
            &:hover {
                color: white;
            }
        }
    }
    
    .navbar-brand img {
        height: 220px;
    }
    
    @media (max-width: 991px) {
        .navbar-brand img {
            height: 110px;
        }
    }